In [1]:
import pandas as pd

In [4]:
initial_set = pd.read_csv('number_pic_char.csv')
initial_set

    Unnamed: 0                      name  total  train  test  bounding_box
0            0             Homer Simpson   2246   1909   337           612
1            1              Ned Flanders   1454   1236   218           595
2            2               Moe Szyslak   1452   1234   218           215
3            3              Lisa Simpson   1354   1151   203           562
4            4              Bart Simpson   1342   1141   201           554
5            5             Marge Simpson   1291   1097   194           557
6            6          Krusty The Clown   1206   1025   181           226
7            7         Principal Skinner   1194   1015   179           506
8            8  Charles Montgomery Burns   1193   1014   179           650
9            9       Milhouse Van Houten   1079    917   162           210
10          10              Chief Wiggum    986    838   148           209
11          11    Abraham Grampa Simpson    913    776   137           595
12          12              Sideshow Bob    877    745   132           203
13          13    Apu Nahasapeemapetilon    623    530    93           206
14          14             Kent Brockman    498    423    75           213
15          15            Comic Book Guy    469    399    70           208
16          16            Edna Krabappel    457    388    69           212
17          17              Nelson Muntz    358    304    54           219
18          18             Lenny Leonard    310    264    46             0
19          19              Mayor Quimby    246    209    37             0
20          20           Waylon Smithers    181    154    27             0
21          21            Maggie Simpson    128    109    19             0

In [15]:
# set train 60% train, 20% validation set, 20% test

initial_set['train'] = initial_set['total'] * 0.6
initial_set['test'] = initial_set['total'] * 0.2
initial_set['validation'] = initial_set['test']

initial_set['train'] = initial_set['train'].astype('int32')
initial_set['test'] = initial_set['test'].astype('int32')
initial_set['validation'] = initial_set['validation'].astype('int32')

initial_set.drop(columns='bounding_box', inplace=True)

KeyError: "['bounding_box'] not found in axis"

In [17]:
initial_set.drop(columns='Unnamed: 0', inplace=True)

In [18]:
initial_set

                        name  total  train  test  validation
0              Homer Simpson   2246   1347   449         449
1               Ned Flanders   1454    872   290         290
2                Moe Szyslak   1452    871   290         290
3               Lisa Simpson   1354    812   270         270
4               Bart Simpson   1342    805   268         268
5              Marge Simpson   1291    774   258         258
6           Krusty The Clown   1206    723   241         241
7          Principal Skinner   1194    716   238         238
8   Charles Montgomery Burns   1193    715   238         238
9        Milhouse Van Houten   1079    647   215         215
10              Chief Wiggum    986    591   197         197
11    Abraham Grampa Simpson    913    547   182         182
12              Sideshow Bob    877    526   175         175
13    Apu Nahasapeemapetilon    623    373   124         124
14             Kent Brockman    498    298    99          99
15            Comic Book Guy    469    281    93          93
16            Edna Krabappel    457    274    91          91
17              Nelson Muntz    358    214    71          71
18             Lenny Leonard    310    186    62          62
19              Mayor Quimby    246    147    49          49
20           Waylon Smithers    181    108    36          36
21            Maggie Simpson    128     76    25          25

In [19]:
initial_set.to_excel('charts_percentages.xlsx')